<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/footer.css') }}">
    <title>Your Webpage</title>
    <sytle>
    </sytle>
</head>
<body>
    <footer>
        <div>
            <br><hr>
            <center>
                이 사이트를 통해 백준과 더욱 친해져보세요! 매일매일 한 문제씩 맞은 문제를 복습하거나 틀린 문제를 다시 시도한다면, PS와 가까워진
                자신을 발견할 수 있을 거예요!
                <br>
                2024 edoc side project - website: 김경희 신보경 신정화
                <br><br>
            </center>
        </div>
    </footer>
</body>
</html>